{% extends 'base.html' %}

{% block title %}Detalhes do Cliente{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center">Detalhes do Cliente: {{ cliente.nome }}</h2>
    <div class="card mt-4">
        <div class="card-body">
            <p><strong>ID:</strong> {{ cliente.id }}</p>
            <p><strong>Nome:</strong> {{ cliente.nome }}</p>
            <p><strong>Sexo:</strong> {{ cliente.sexo }}</p>
            <p><strong>Data de Nascimento:</strong> {{ cliente.nascimento|date:'d/m/Y' }}</p>
            <p><strong>CPF:</strong> {{ cliente.cpf }}</p>
            <p><strong>Endereço:</strong> {{ cliente.endereco_rua }}, {{ cliente.endereco_bairro }}, {{ cliente.endereco_numero }}</p>
            <p><strong>Telefone Fixo:</strong> {{ cliente.telefone_fixo }}</p>
            <p><strong>Telefone Celular:</strong> {{ cliente.telefone_celular }}</p>
            <p><strong>E-mail:</strong> {{ cliente.email }}</p>
        </div>
    </div>

    <div class="mt-4 text-center">
        <a href="{% url 'clientes_edit' cliente.id %}" class="btn btn-warning">Editar</a>
        <a href="{% url 'clientes' %}" class="btn btn-secondary">Voltar</a>
    </div>
</div>
{% endblock %}
