{% extends 'base.html' %}

{% block title %}Lista de Clientes{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center">Lista de Clientes</h2>
    <div class="mb-4 text-right">
        <a href="{% url 'clientes_create' %}" class="btn btn-primary">Adicionar Novo Cliente</a>
    </div>
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>CPF</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for cliente in clientes %}
            <tr>
                <td>{{ cliente.id }}</td>
                <td><a href="{% url 'clientes_detail' cliente.id %}">{{ cliente.nome }}</a></td>
                <td>{{ cliente.cpf }}</td>
                <td>
                    <a href="{% url 'clientes_edit' cliente.id %}" class="btn btn-warning btn-sm">Editar</a>

                    </form>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4" class="text-center">Nenhum cliente cadastrado.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
